go/bin/
go/AUTHORS
go/CONTRIBUTING.md
go/CONTRIBUTORS
go/LICENSE
go/PATENTS
go/README.md
go/SECURITY.md
go/VERSION
go/api
go/bin
go/codereview.cfg
go/doc
go/lib
go/misc
go/pkg
go/test
go/src/Make.dist
go/src/README.vendor
go/src/all.bash
go/src/all.bat
go/src/all.rc
go/src/bootstrap.bash
go/src/buildall.bash
go/src/clean.bash
go/src/clean.bat
go/src/clean.rc
go/src/cmp.bash
go/src/go.mod
go/src/go.sum
go/src/make.bash
go/src/make.bat
go/src/make.rc
go/src/race.bash
go/src/race.bat
go/src/run.bash
go/src/run.bat
go/src/run.rc
go/src/vendor
